*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(236, 241, 252);
}

.nav{
    background-color: indigo !important;
    
}


.foto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    
}



.nav-item a{
    font-weight: bold;
    color: white;
}

.titulo-1{
    padding-top: 15px;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    color: blueviolet;
}

.h2{
    font-weight: bold;
    text-align: center;
}

.boca{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 15px;
    color: blueviolet;
}

.imagen{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
}

/* MIRAR ESTE ITEM */

.parrafo-1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.form{
    width: 30%;
    padding: 50px 0;
}









































.footer{

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    height: 14vh;
    background-color: indigo;
    
    
}

.ul-footer{
    display: flex;
    list-style: none;
}

.ul-footer li{
    margin: 0 10px;
}

.ul-footer li a{
    color: black;
    font-weight: bold;
}