* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}


body {
    background-color: rgb(236, 241, 252);
}

.nav {
    background-color: #168b0c !important;

}



/* BOCA JUNIORS */

/* acomodar mi titulo.*/
.escudo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    font-weight: bold;
    padding-top: 15px;
    color: rgb(32, 13, 251);
    width: 80%;
    margin: auto;
}


.escudo:hover {
    transform: scale(1.2);
    transition: 2s;
}

.escudo-river {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    width: 80%;
    margin: auto;
    font-weight: bold;
    padding-top: 15px;
    color: red;
}

.escudo-river:hover {
    transform: scale(1.2);
    transition: 2s;
}




.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    max-width: 80%;

}



.nav-item a {
    font-weight: bold;
    color: white;
}

.titulo-1 {
    padding-top: 15px;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    color: blueviolet;
}




.h2 {
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.h2:hover {
    color: rgb(86, 192, 60);
}



.imagen {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 100px 35px;


}


.imagen img {
    max-width: 500px;
}

/* MIRAR ESTE ITEM */

.parrafo-1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 15px;
}

.form {
    width: 30%;
    padding: 50px 0;
}

.card-title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;

}

.card-title:hover {
    background-color: blue;
    color: white;
}


.boton:hover {
    color: yellow;
    font-weight: bold;
    border: 2px solid black;

}



.btn-river:hover {
    color: red;
    font-weight: bold;
    border: 2px solid white
}

.boton-river {
    color: red;
}

.boton-river:hover {
    background-color: black;
    border: 3px solid red;
}




.fundacion {
    display: flex;
    align-items: center;
}

.titulo {
    margin: 20px;

}

.titulo-2 {
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

}

.titulo-2:hover {
    background-color: yellow;
    color: blue;
}

.titulo-3 {
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.titulo-3:hover {
    background-color: red;
    color: white;
}

.flex-river {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: stretch;
    animation-name: agrandando;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-delay: 5s;
    font-weight: bold;
    padding-top: 15px;
    color: red;


}


.flex-river img {

    margin: 15px;
    max-width: 30%;

}

/* RACING CLUB */

.escudo-racing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    font-weight: bold;
    padding-top: 15px;
    color: aqua;
    width: 80%;
    margin: auto;
}

.escudo-racing:hover {
    transform: scale(1.2);
    transition: 2s;
}


.table {
    margin: 50px auto;
    background-color: black;
    color: white;
    font-weight: bold;
}

.titulo-4 {
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.titulo-4:hover {
    background-color: aqua;
    color: white;
}

.parrafo-racing {
    display: flex;
    font-size: 15px;
    margin: 10px;
}

/* INDEPENDIENTE */


.escudo-independiente {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    font-weight: bold;
    padding-top: 15px;
    color: red;
    width: 80%;
    margin: auto;
}

.escudo-independiente:hover {
    transform: scale(1.2);
    transition: 2s;
}

.card-independiente {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

.card-independiente:hover {
    background-color: rgb(255, 13, 13);
    color: white;
}

.titulo-5 {
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.titulo-5:hover {
    background-color: rgb(253, 7, 27);
    color: white;

}

/* CONTACTO */
.prueba {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-around;
    align-items: flex-start;
    width: 40%;
    margin: 15px;
}

.h1 {

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
}


.boton-form {
    color: rgb(15, 15, 15);
    font-weight: bold;
}

.boton-form:hover {
    color: brown;
    border: 5px solid black;
}


.footer {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    height: 14vh;
    background-color: #168b0c;


}

.ul-footer {
    display: flex;
    list-style: none;
}

.ul-footer li {
    margin: 0 10px;
}

.ul-footer li a {
    color: black;
    font-weight: bold;
}


@media (max-width:320px) {
    .parrafo-1 {
        color: blueviolet;
        font-weight: normal;
    }
}

@media (max-width:420px) {
    .imagen img {
        max-width: 100%;
    }

    .parrafo-2 {
        width: 90%;
    }

    .table {
        width: 90%;
    }
}




@media (max-width:800px) {
    .imagen {
        align-items: center;
        flex-direction: column;

    }
}